.ext_freebies .ion{
    font-size: 18pt;
}

.ext-freebies_logo{
    cursor: pointer;
}

.ext_freebies{
    height: 90%;
    width: 90%;
    overflow: hidden !important;
}

.ext_freebies .modal-body{
    max-height: none;
    height:100%;
    padding: 0 15px;
}

.ext_freebies .modal-header{
    background: transparent;
    position: relative;
}

.ext_freebies #btnFreebiesClose{
    position: absolute;
    right: 10px;
    top: 8px;
}

.fb-sidebar{
    height: 100%;
    border-right: 1px solid #c3c6c5;
    padding: 2px;
    width: 250px;
}

.fb-sidebar_topic{
    border: 1px solid #c3c6c5;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 2px;
    transition: 0.25s all;
    position: relative;
    color: #333333;
}

.fb-sidebar_topic:hover, .fb-sidebar_topic.selected{
    background: #288edf;
    color: white;
}

.fb-sidebar_topic.selected{
    border: 1px solid #288edf;
}

.fb-sidebar_topic-name{
    margin-left: 4px;
    font-size: 14pt;
}

.fb-sidebar_topic-selected{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
    background: white;
    border-radius: 50%;
}

.fb-page{
    position: relative;
    height: 92%;
}

.fb-documents{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 250px;
    padding: 10px 15px;
}

.fb-document{
    display: block;
    width: 100%;
    border: 1px solid #c3c6c5;
    border-radius: 2px;
    padding: 4px;
}
