<div class="ext_freebies modal">
    <div class="modal-body">
        <div class="modal-header">
            <h3>
                <span class="ion-images"></span>
                <span>Freebies</span>
                <span>
                    <a href="https://github.com/dnbard/brackets-freebies" title="Star this extension at GitHub!" class="button-custom ion-star"></a>
                </span>
            </h3>
            <button id="btnFreebiesReload" class="ion-loop" title="Reload extension" data-bind="click: reload"></button>
            <button id="btnFreebiesClose" class="ion-close" title="Close extension" data-bind="click: close"></button>
        </div>
        <div class="fb-page">
            <!-- ko if: page() === 'default' || page() === 'iframe' -->
            <div class="fb-sidebar">
                <div class="fb-sidebar_topic">
                    <span class="ion ion-ios7-star"></span>
                    <span class="fb-sidebar_topic-name">Favorites</span>
                </div>
                <!-- ko foreach: topics -->
                <div class="fb-sidebar_topic" data-bind="css:{selected: $parent.topic() === $data}, click: $parent.selectTopic">
                    <span class="ion" data-bind="css: $parent.getIcon($data)"></span>
                    <span class="fb-sidebar_topic-name" data-bind="text: name"></span>
                    <div class="fb-sidebar_topic-selected" data-bind="visible: $parent.topic() === $data"></div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- ko if: page() === 'default' -->
            <div class="fb-documents" data-bind="foreach: documents">
                <div class="fb-document">
                    <div class="fb-document_title">
                        <span class="fb-document_name" data-bind="text: $parent.getField($data, 'name'), attr:{title: 'Open ' + $parent.getField($data, 'name')}, click: $parent.selectDocument"></span>
                        <button class="button-custom ion-star" title="Add to Favorites" data-bind="attr: {href: $data.link}"></button>
                        <button class="button-custom ion-link" title="Open in Browser" data-bind="attr: {href: $data.link}"></button>
                    </div>
                    <div class="fb-document_desc" data-bind="text: $parent.getField($data, 'description')"></div>
                    <div class="fb-document_tags" data-bind="foreach: tags">
                        <span class="fb-document_tag">
                            <span class="ion-ios7-pricetag-outline"></span>
                            <span data-bind="text: $data"></span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: page() === 'iframe' -->
            <div class="fb-iframe">
                <iframe class="iframe-document" data-bind="attr:{src: document().link}" seamless="seamless"></iframe>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
